header {
  background-color: white;
  height: 40vh; }
  header #logo {
    display: flex;
    justify-content: center; }

main .p2 {
  width: 300px;
  font-size: 20px;
  font-weight: 300;
  word-spacing: 5px;
  text-align: center;
  justify-self: center; }

main .direccion {
  width: 300px;
  font-size: 20px;
  font-weight: 500;
  word-spacing: 5px;
  text-align: center;
  justify-self: center;
  padding: 5px;
  margin: 5px 50px; }

main #lista-departamentos {
  font-size: 20px;
  font-weight: 400;
  line-height: 40pt;
  text-align: center;
  width: 50%;
  border-width: 3pt;
  border-color: black;
  justify-self: center; }

main caption {
  text-align: center;
  font-size: 50px;
  font-weight: 700; }

.grid-container {
  display: grid;
  grid-template-areas: "destacadas" "foto1" "direc1" "info1" "foto2 " "direc2 " "info2 " "foto3 " "direc3" "info3" "recientes" "foto4" "direc4" "info4"  "foto5"  "direc5" "info5" "foto6" "direc6" "info6" "acerca" "nosotros" "lista" "deptos";
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 5px; }

@media only screen and (min-width: 764px) {
  .grid-container {
    display: grid;
    grid-template-areas: "destacadas destacadas" "foto1 direc1" "foto1 info1" "foto2 direc2" "foto2 info2" "foto3 direc3" "foto3 info3" "recientes recientes" "foto4 direc4" "foto4 info4" "foto5 direc5" "foto5 info5" "foto6 direc6" "foto6 info6" "acerca acerca" "nosotros nosotros" "lista lista" "deptos deptos";
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px; } }

@media only screen and (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "destacadas destacadas destacadas" "foto1 foto2 foto3" "direc1 direc2 direc3" "info1 info2 info3" "recientes recientes recientes" "foto4 foto5 foto6" "direc4 direc5 direc6" "info4 info5 info6" "acerca acerca acerca" "nosotros nosotros nosotros" "lista lista lista" "deptos deptos deptos"; } }

#propiedades-destacadas {
  grid-area: destacadas; }

#propiedades-recientes {
  grid-area: recientes; }

#carouselExampleControls {
  grid-area: foto1; }

#carousel2 {
  grid-area: foto2;
  justify-self: center; }

#carousel3 {
  grid-area: foto3; }

#carousel4 {
  grid-area: foto4; }

#carousel5 {
  grid-area: foto5; }

#carousel6 {
  grid-area: foto6; }

#direc1 {
  grid-area: direc1; }

#direc2 {
  grid-area: direc2; }

#direc3 {
  grid-area: direc3; }

#direc4 {
  grid-area: direc4; }

#direc5 {
  grid-area: direc5; }

#direc6 {
  grid-area: direc6; }

#info1 {
  grid-area: info1; }

#info2 {
  grid-area: info2; }

#info3 {
  grid-area: info3; }

#info4 {
  grid-area: info4; }

#info5 {
  grid-area: info5; }

#info6 {
  grid-area: info6; }

#acerca-de-nosotros {
  grid-area: acerca; }

#nosotros {
  grid-area: nosotros; }

#lista {
  grid-area: lista; }

#lista-departamentos {
  grid-area: deptos; }

#contacto {
  animation-duration: 5s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media only screen and (min-width: 764px) {
  .grid-container-contacto {
    display: grid;
    grid-template-areas: "nombre mail" "mensaje mensaje";
    grid-template-columns: 1f 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px; } }

@media only screen and (min-width: 1024px) {
  .grid-container-contacto {
    display: grid;
    grid-template-areas: "nombre mail" "mensaje mensaje";
    grid-template-columns: 1f 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px; } }

#nombre {
  grid-area: nombre; }

#mail {
  grid-area: mail; }

#mensaje {
  grid-area: mensaje; }

.grid-container-alquileres {
  display: grid;
  grid-template-areas: "alquileres" "foto1" "direc1" "info1" "foto3 " "direc3 " "info3" "foto4 " "direc4" "info4" "foto8" "direc8" "info8"  "foto9"  "direc9" "info9" "foto10" "direc10" "info10";
  grid-template-columns: 1fr;
  grid-row-gap: 10px; }

@media only screen and (min-width: 764px) {
  .grid-container-alquileres {
    display: grid;
    grid-template-areas: "alquileres alquileres" "foto1 direc1" "foto1 info1" "foto3 direc3" "foto3 info3" "foto4 direc4" "foto4 info4" "foto8 direc8" "foto8 info8" "foto9 direc9" "foto9 info9" "foto10 direc10" "foto10 info10";
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px; } }

@media only screen and (min-width: 1024px) {
  .grid-container-alquileres {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "alquileres alquileres alquileres" "foto1 foto3 foto4" "direc1 direc3 direc4" "info1 info3 info4" "foto8 foto9 foto10" "direc8 direc9 direc10" "info8 info9 info10"; } }

#alquileres {
  grid-area: alquileres; }

#foto1 {
  grid-area: foto1; }

#foto3 {
  grid-area: foto3; }

#foto4 {
  grid-area: foto4; }

#foto8 {
  grid-area: foto8; }

#foto9 {
  grid-area: foto9; }

#foto10 {
  grid-area: foto10; }

#direc8 {
  grid-area: direc8; }

#direc9 {
  grid-area: direc9; }

#direc10 {
  grid-area: direc10; }

#info8 {
  grid-area: info8; }

#info9 {
  grid-area: info9; }

#info10 {
  grid-area: info10; }

.grid-container-ventas {
  display: grid;
  grid-template-areas: "ventas" "foto2" "direc2" "info2" "foto5 " "direc5 " "info5" "foto6 " "direc6" "info6" "foto11" "direc11" "info11"  "foto12"  "direc12" "info12" "foto13" "direc13" "info13";
  grid-template-columns: 1fr;
  grid-row-gap: 10px; }

@media only screen and (min-width: 764px) {
  .grid-container-ventas {
    display: grid;
    grid-template-areas: "ventas ventas" "foto2 direc2" "foto2 info2" "foto5 direc5" "foto5 info5" "foto6 direc6" "foto6 info6" "foto11 direc11" "foto11 info11" "foto12 direc12" "foto12 info12" "foto13 direc13" "foto13 info13";
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px; } }

@media only screen and (min-width: 1024px) {
  .grid-container-ventas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "ventas ventas ventas" "foto2 foto5 foto6" "direc2 direc5 direc6" "info2 info5 info6" "foto11 foto12 foto13" "direc11 direc12 direc13" "info11 info12 info13"; } }

#ventas {
  grid-area: ventas; }

#foto2 {
  grid-area: foto2; }

#foto5 {
  grid-area: foto5; }

#foto6 {
  grid-area: foto6; }

#foto11 {
  grid-area: foto11; }

#foto12 {
  grid-area: foto12; }

#foto13 {
  grid-area: foto13; }

#direc11 {
  grid-area: direc11; }

#direc12 {
  grid-area: direc12; }

#direc13 {
  grid-area: direc13; }

#info11 {
  grid-area: info11; }

#info12 {
  grid-area: info12; }

#info13 {
  grid-area: info13; }

.grid-container-terrenos {
  display: grid;
  grid-template-areas: "terrenos" "foto16" "direc16" "info16" "foto14" "direc14" "info14" "foto15" "direc15" "info15";
  grid-template-columns: 1fr;
  grid-row-gap: 10px; }

@media only screen and (min-width: 764px) {
  .grid-container-terrenos {
    display: grid;
    grid-template-areas: "terrenos terrenos" "foto16 direc16" "foto16 info16" "foto14 direc14" "foto14 info14" "foto15 direc15" "foto15 info15";
    grid-template-columns: 1f 1fr;
    grid-row-gap: 10px; } }

@media only screen and (min-width: 1024px) {
  .grid-container-terrenos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "terrenos terrenos terrenos" "foto16 foto14 foto15" "direc16 direc14 direc15" "info16 info14 info15"; } }

#terrenos {
  grid-area: terrenos; }

#foto14 {
  grid-area: foto14; }

#foto15 {
  grid-area: foto15; }

#foto16 {
  grid-area: foto16; }

#direc14 {
  grid-area: direc14; }

#direc15 {
  grid-area: direc15; }

#direc16 {
  grid-area: direc16; }

#info14 {
  grid-area: info14; }

#info15 {
  grid-area: info15; }

#info16 {
  grid-area: info16; }

body #mapa {
  grid-area: mapa;
  margin-left: 30px;
  width: 100%; }

body .p4 {
  font-size: 20px;
  font-weight: 300;
  word-spacing: 5px;
  margin: 5px 50px;
  text-align: justify; }

@media only screen and (min-width: 1024px) {
  #mapa {
    width: 900px; }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "tasaciones tasaciones tasaciones" "mapa mapa texto"; } }

#tasaciones {
  grid-area: tasaciones; }

#texto {
  grid-area: texto; }

footer {
  background-color: blue;
  margin-left: 0px;
  margin-right: 0px; }
  footer .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "logofooter" "secciones" "oficina"; }

@media only screen and (min-width: 764px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "logofooter secciones oficina"; } }

.margin-footer {
  margin-top: 45px; }

#logofooter {
  grid-area: logofooter;
  justify-self: center; }

#secciones {
  grid-area: secciones;
  margin-top: 45px; }

#oficna {
  grid-area: oficina;
  justify-self: center;
  margin-top: 45px; }

main {
  font-family: "Roboto";
  padding: 0%; }
  main .imagen-tipo1 {
    width: 300px;
    height: 500px;
    padding: 5px 10px;
    justify-self: center; }
  main .imagen-tipo1:hover {
    transform: scale(1.25); }
  main .titulos {
    text-align: center;
    font-size: 300%;
    font-weight: 700;
    justify-self: center;
    margin-top: 50px; }
  main .p3 {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 40pt;
    font-style: italic;
    margin: 30px; }
